<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Installers Links-->
  <Link name="FORSCOMLocalClient">
    <path>.\Installers\CAFRS FORSCOM Local Client {0}.exe</path>
  </Link>
  <Link name="CDCPComponents">
    <path>.\Installers\CAFRS Data Collection Point (CDCP) {0}.exe</path>
  </Link>
  <Link name="FORSCOMNetworkClient">
    <path>.\Installers\CAFRS FORSCOM Network Client {0}.exe</path>
  </Link>
  <Link name="FORSCOMNetworkServer">
    <path>.\Installers\CAFRS FORSCOM Network Services x64.exe</path>
  </Link>
  <Link name="FORSCOMNetworkDatabase">
    <path>.\Installers\CAFRS FORSCOM Network Database Install x64.exe</path>
  </Link>
  <Link name="TRADOCNetworkClient">
    <path>.\Installers\CAFRS TRADOC Network Client {0}.exe</path>
  </Link>
  <Link name="TRADOCNetworkServices">
    <path>.\Installers\CAFRS TRADOC Network Services x64.exe</path>
  </Link>
  <Link name="TRADOCNetworkDatabase">
    <path>.\Installers\CAFRS TRADOC Network Database Install x64.exe</path>
  </Link>
  
  <!--Documentation Links-->
  <Link name="CAFRSSetupGuide">
    <path>.\Instructions\CAFRS_Setup_Guide.chm</path>
  </Link>
  <Link name="ReleaseNotes">
    <path>.\Documentation\CAFRS_v4.0.3_Release_Notes.pdf</path>
  </Link>
  
  <!--Accreditation Links-->
  <Link name="CAFRSATO">
    <path>.\Documentation\CAFRS ATO 27jan17.pdf</path>
  </Link>
  <Link name="CAFRSCoN">
    <path>.\Documentation\DA CIO G-6 Revised Networthiness Requirement for Systems (CoN).pdf</path>
  </Link>
  <Link name="CAFRSLWNRFC">
    <path>.\Documentation\Approval Package LWN18-181 IIS on Win10 Approval.pdf</path>
  </Link>

  <!--Big Button Help Link-->
  <Link name="InstallerHelp">
    <path>.\Instructions\CAFRS_Setup_Guide.chm</path>
  </Link>
</configuration>